@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 8px;
    position: fixed;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f7f9fd;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0a142f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
